@charset "UTF-8";
@import "./flex.scss";

html,body{
  height: 100%;
  font-size: 10px;
}
html{
}
body{
  background: #ccc;
  font-size: .2rem;
}
a{
  &:active{
    color: #000;
  }
}
.wrapper{
  @include display-flex;
  @include flex-direction-column;
  @include align-items-stretch;
  width: 100%;
  height: 100%;
}
header{
  // height: 1rem;
  font-size: .15rem;
  // background-color: red;
}
.content{
  @include flex-grow;
  input{
    background-color: #fff;
  }
}
footer{
  height: .3rem;
  line-height: .3rem;
  text-align: center;
  // background-color: blue;
}
